@import "tailwindcss";
@tailwind base;
@tailwind components;
/*@tailwind utilities;*/

@theme {
  --color-white-10: #ffffff1a;
  --color-white-30: #ffffff4d;
  --color-white-40: #ffffff66;
  --color-white-50: #ffffff80;
  --color-white-80: #ffffffcc;
  --color-white-100: #ffffff;
  --color-nav-bar: #242424;
  --color-background: #020202;
  --color-medium-gray: #2b2b2c;
  --color-light-gray: #8c8c8c;
  --color-green: #3b9673;
  --color-light-green: #b0d5c7;
  --color-light-blue: #539fda;
  --color-dark-blue: #3a75b6;
  --color-dark-blue-10: #539fda1a;
  --color-secondary-blue: #539fda;
}

@layer base {
  * {
    @apply box-border;
  }

  ::selection {
    background: var(--color-light-green);
    color: var(--color-black);
  }

  body {
    @apply tracking-wide;
  }
  h3 {
    @apply text-white-80 text-center font-sans text-[10px] font-bold leading-[18px] uppercase whitespace-nowrap;
  }

  h1 {
    @apply text-white font-sans text-[20px] not-italic font-normal leading-normal uppercase;
  }

  h2 {
    @apply text-white font-sans text-[16px] not-italic font-medium leading-normal uppercase whitespace-nowrap;
  }
}

@layer components {
  .icon {
    @apply w-[28px] h-[28px] aspect-square;
  }

  .scroll-btn {
    @apply text-white-80 font-sans text-base not-italic font-semibold leading-normal;
  }

  .secondary-text {
    @apply text-white-80 font-sans text-base not-italic font-normal leading-[18px];
  }

  .container {
    @apply p-4 self-stretch bg-medium-gray rounded;
  }

  .emergency-text {
    @apply text-white-80 text-[16px] text-right text-base font-[550] tracking-wider leading-[16px];
  }

  .emergency-div {
    @apply flex items-center justify-between w-full h-[35px];
  }

  .logon-titles {
    @apply text-white-80 text-[16px] font-sans font-semibold leading-[18px] tracking-wide;
  }

  .logon-flight-details {
    @apply tracking-widest text-[16px] font-normal mt-[8px];
  }

  .logs-options {
    @apply flex-1 min-w-[100px] flex items-center justify-center h-[45px] py-2 px-2 border border-[2px] border-white/10 rounded-md text-[12px] text-white/80 font-bold uppercase cursor-pointer;
  }

  .emergency-options {
    @apply flex-1 min-w-[100px] flex items-center justify-center h-[45px] py-2 px-2 border border-[2px] border-white/10 rounded-md text-[16px] text-white/80 font-[550] uppercase cursor-pointer;
  }
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

/* styles/scrollbar.css */
/* Applique à tous les scrollbars visibles dans ton app */
* {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(100, 100, 100, 0.4) transparent;
}

/* Webkit (Chrome, Safari) */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.6);
}
