@import "tailwindcss";
@tailwind base;
@tailwind components;
/*@tailwind utilities;*/

@theme {
  --color-white-10: #FFFFFF1A;
  --color-white-80: #FFFFFFCC;
  --color-white-100: #FFFFFF;
  --color-nav-bar: #242424;
  --color-background: #020202;  
  --color-medium-gray: #2B2B2C;
  --color-light-gray: #8C8C8C; 
  --color-green: #3B9673;
  --color-dark-blue: #3A75B6;
}

@layer base {
  h3 {
    @apply text-[rgba(255,255,255,0.80)] text-center font-sans text-[10px] font-bold leading-[18px] uppercase whitespace-nowrap

  }
}

@layer components {
  .icon {
    @apply w-[28px] h-[28px] aspect-square
  }
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
