@import "tailwindcss";
@tailwind base;
@tailwind components;
/*@tailwind utilities;*/

@theme {
  --color-white-10: #ffffff1a;
  --color-white-40: #FFFFFF66;
  --color-white-50: #ffffff80;
  --color-white-80: #ffffffcc;
  --color-white-100: #ffffff;
  --color-nav-bar: #242424;
  --color-background: #020202;
  --color-medium-gray: #2b2b2c;
  --color-light-gray: #8c8c8c;
  --color-green: #3b9673;
  --color-light-blue: #539FDA;
  --color-dark-blue: #3a75b6;
  --color-dark-blue-10: #539fda1a;
  --color-secondary-blue: #539FDA;
}

@layer base {
  body {
    @apply tracking-wide;
  }
  h3 {
    @apply text-white-80 text-center font-sans text-[10px] font-bold leading-[18px] uppercase whitespace-nowrap;
  }

  h1 {
    @apply text-white font-sans text-[20px] not-italic font-normal leading-normal uppercase;
  }

  h2 {
    @apply text-white font-sans text-[16px] not-italic font-medium leading-normal uppercase whitespace-nowrap;
  }
}

@layer components {
  .icon {
    @apply w-[28px] h-[28px] aspect-square;
  }

  .scroll-btn {
    @apply text-white-80 font-sans text-base not-italic font-semibold leading-normal;
  }

  .secondary-text {
    @apply text-white-80 font-sans text-base not-italic font-normal leading-[18px];
  }

  .container {
    @apply p-4 self-stretch bg-medium-gray rounded;
  }

  .emergency-text {
    @apply text-white-80 text-right text-base font-semibold tracking-wide leading-[16px];
  }

  .emergency-div {
    @apply flex items-center h-[35px];
  }

  .logon-titles {
    @apply text-white-80 text-[16px] font-sans font-semibold leading-[18px] tracking-wide;
  }

  .logon-flight-details {
    @apply tracking-widest text-[16px] font-normal mt-[8px];
  }
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
